{
	"bracketSameLine": true,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"vueIndentScriptAndStyle": true,
	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"singleQuote": false
			}
		}
	]
}
