/* @font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Manrope';
	font-display: swap;
	src: local('Manrope Regular'), url('@/assets/fonts/manrope-regular.woff2') format('woff2');
} */
