.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.centerer {
	box-sizing: border-box;
	margin-right: 1rem;
	margin-left: 1rem;

	@media (--tablet-laptop-desktop) {
		margin-right: 2rem;
		margin-left: 2rem;
	}

	@media (--desktop) {
		width: 1160px;
		margin-right: auto;
		margin-left: auto;
	}
}
